@charset "utf-8";

/* Basic Body Structure */
body {
  background: #fff;
  color: #545454;
  font-family: 'Lucida Grande';
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}

a {
  border-bottom: dotted 1px #8cb3ff;
  color: #8cb3ff;
  text-decoration: none;
  color: #ff6666;
}

a:hover {
  border: none;
  border-bottom: solid 1px #8cb3ff;
  color: #ff3333;
}

#body_home {
  bottom: 0;
  left: 0;
  padding: 2em 0 4px;
  position: absolute;
  right: 0;
  top: 0;
}

body[type*=server] #body_home {
  padding: 2px 0;
}

body div[type*=kick] .message:before,
body div[type*=part] .message:before,
body div[type*=quit] .message:before {
	content: "←" !important;
  	color: #e00 !important;
  	/* margin-right: 0.4em; */
}


body div[type*=nick] .message:before,
body div[type*=topic] .message:before,
body div[type*=mode] .message:before,
body div[type*=website] .message:before,
body div[type*=action] .message:before {
	content:"•" !important;
  	color: #0c0 !important;
  	/* margin-right: 0.4em; */
}

body div[type*=join] .message:before {
	content: "→" !important;
  	color: #0c0 !important;
  	/* margin-left: 0.4em; */
}

body div[type*=kick] .message:before,
body div[type*=part] .message:before,
body div[type*=quit] .message:before {
	content: "←" !important;
  	color: #e00 !important;
  	/* margin-left: 0.4em; */
}

body div[type*=nick] .message:before {
	content:"•" !important;
  	color: #0c0 !important;
  	/* margin-left: 0.4em; */
}



.message,
.sender,
.time {
  padding: 6px 8px 5px;
}

.message {
  max-width: 90%;
  width: 100%;
}

.sender,
.time {
  background: white;
}

.sender {
  font-weight: 400;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10em;
}

body[type*=server] .sender { display: none; }

.time {
  color: #888;
  font-size: 0.9em;
  line-height: 1.8;
  white-space: nowrap;
}

.line {
  display: -webkit-flex;
  -webkit-flex-flow: row;
}

.line[nickname-type*=myself] .message,
.line[nickname-type*=myself] .sender,
.line[nickname-type*=myself] .time {
  background-color: #ccddff;
}

.line[nickname-type*=myself][type*=action] {
  background-color: #ccddff;
}

.line[type*=action] .message,
.line[type*=action] .sender {
  background: none;
  font-style: italic;
}

.line[type*=action] .sender {
  padding-right: 2px;
}

body[type*=channel] .event .message {
  color: #666;
}

.event .message:before {
  content: '» ';
}

body[type*=server] .event .message {
  color: #999;
  font-size: inherit;
  padding-left: 1em;
  padding-right: 2em;
}

body[type*=server] .event .message:before {
  content: '';
}

.event .sender {
  background: inherit;
}

.text[highlight*=true],
.text[highlight*=true] .time {
  color: #888 !important;
}

.text[highlight*=true] .sender,
.text[highlight*=true] .message,
.text[highlight*=true] .time {
  background-color: #e1eaf4;
}

body [type*=notice] .sender,
body [type*=notice] .message,
body [type*=notice] .time {
  background-color: #fef7e5;
}

body [type*=notice] .sender {
  border-left: 4px solid #f5c24f;
}

.text[highlight*=true] .message {
  color: #545454;
}

.znc-playback-end {
  border-bottom: 1px dashed #9f9f9f;
}

.znc-playback-start {
  border-top: 1px dashed #9f9f9f;
}

#mark {
  border-bottom: 1px dotted #9f9f9f;
  margin: 1px 0;
  -webkit-transition: 0.2s linear;
}

/* Loading Screen */
body div#loading_screen {
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -150px;
  width: 300px;
  height: 21px;
  font-size: 18px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #545454;
  padding: 5px;
  padding-left: 10px;
  opacity: 1; /* Set by JavaScript */
  -webkit-transition: opacity 0.8s linear;
}

/* Topic Bar */
#topic_bar {
  background: #f5f5f5;
  overflow: hidden;
  height:1.5em ;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  color: #545454;
  font-size: 0.8em;
  font-weight: normal;
  left: 0;
  line-height: 1.8;
  opacity: 1 !important; /* Overrides JS opacity. */
  padding: 4px 12px 2px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#topic_bar:hover {
	overflow: visible;
	height: auto;
	white-space: normal;
}

/* Images */
a img {
  border: 0;
}

a img:hover {
  outline: 2px solid #284e84;
}

img {
  display: block;
  margin: 15px 15px 12px 0;
  max-height: 40%;
  max-width: 95%;
}

/* Nickname Colors */
body .sender[type*=normal][colornumber='0'],
body .inline_nickname[colornumber='0']  { color: #718c00; }
body .sender[type*=normal][colornumber='1'],
body .inline_nickname[colornumber='1']  { color: #718c00; }
body .sender[type*=normal][colornumber='2'],
body .inline_nickname[colornumber='2']  { color: #3e999f; }
body .sender[type*=normal][colornumber='3'],
body .inline_nickname[colornumber='3']  { color: #8959a8; }
body .sender[type*=normal][colornumber='4'],
body .inline_nickname[colornumber='4']  { color: #4271ae; }
body .sender[type*=normal][colornumber='5'],
body .inline_nickname[colornumber='5']  { color: #c82829; }
body .sender[type*=normal][colornumber='6'],
body .inline_nickname[colornumber='6']  { color: #c82829; }
body .sender[type*=normal][colornumber='7'],
body .inline_nickname[colornumber='7']  { color: #3e999f; }
body .sender[type*=normal][colornumber='8'],
body .inline_nickname[colornumber='8']  { color: #8959a8; }
body .sender[type*=normal][colornumber='9'],
body .inline_nickname[colornumber='9']  { color: #c82829; }
body .sender[type*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] { color: #718c00; }
body .sender[type*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] { color: #eab700; }
body .sender[type*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] { color: #718c00; }
body .sender[type*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] { color: #3e999f; }
body .sender[type*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] { color: #c82829; }
body .sender[type*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] { color: #c82829; }
body .sender[type*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] { color: #c82829; }
body .sender[type*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] { color: #f5871f; }
body .sender[type*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] { color: #eab700; }
body .sender[type*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] { color: #718c00; }
body .sender[type*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] { color: #3e999f; }
body .sender[type*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] { color: #3e999f; }
body .sender[type*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] { color: #8959a8; }
body .sender[type*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] { color: #8959a8; }
body .sender[type*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] { color: #c82829; }
body .sender[type*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] { color: #718c00; }
body .sender[type*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] { color: #4271ae; }
body .sender[type*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] { color: #3e999f; }
body .sender[type*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] { color: #eab700; }
body .sender[type*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] { color: #c82829; }
body .sender[type*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] { color: #8959a8; }
body .sender[type*=normal][colornumber='-14'],
body .inline_nickname[colornumber='-14'] { color: #8959a8; }


body .line {
  border-top:1px solid #efefef;
}

body .text .sender[type*=myself] { background-color: #ccddff; color: #ff3333; }

body .sender[type*=normal][colornumber='0']  { color: #718c00; }
body .sender[type*=normal][colornumber='1']  { color: #718c00; }
body .sender[type*=normal][colornumber='2']  { color: #3e999f; }
body .sender[type*=normal][colornumber='3']  { color: #8959a8; }
body .sender[type*=normal][colornumber='4']  { color: #4271ae; }
body .sender[type*=normal][colornumber='5']  { color: #c82829; }
body .sender[type*=normal][colornumber='6']  { color: #c82829; }
body .sender[type*=normal][colornumber='7']  { color: #3e999f; }
body .sender[type*=normal][colornumber='8']  { color: #8959a8; }
body .sender[type*=normal][colornumber='9']  { color: #c82829; }
body .sender[type*=normal][colornumber='10'] { color: #718c00; }
body .sender[type*=normal][colornumber='11'] { color: #eab700; }
body .sender[type*=normal][colornumber='12'] { color: #718c00; }
body .sender[type*=normal][colornumber='13'] { color: #3e999f; }
body .sender[type*=normal][colornumber='14'] { color: #c82829; }
body .sender[type*=normal][colornumber='15'] { color: #c82829; }
body .sender[type*=normal][colornumber='16'] { color: #c82829; }
body .sender[type*=normal][colornumber='17'] { color: #f5871f; }
body .sender[type*=normal][colornumber='18'] { color: #eab700; }
body .sender[type*=normal][colornumber='19'] { color: #718c00; }
body .sender[type*=normal][colornumber='20'] { color: #3e999f; }
body .sender[type*=normal][colornumber='21'] { color: #3e999f; }
body .sender[type*=normal][colornumber='22'] { color: #8959a8; }
body .sender[type*=normal][colornumber='23'] { color: #8959a8; }
body .sender[type*=normal][colornumber='24'] { color: #c82829; }
body .sender[type*=normal][colornumber='25'] { color: #718c00; }
body .sender[type*=normal][colornumber='26'] { color: #4271ae; }
body .sender[type*=normal][colornumber='27'] { color: #3e999f; }
body .sender[type*=normal][colornumber='28'] { color: #eab700; }
body .sender[type*=normal][colornumber='29'] { color: #c82829; }
body .sender[type*=normal][colornumber='30'] { color: #8959a8; }
body .sender[type*=normal][colornumber='-14'] { color: #8959a8; }


/* mIRC Color Codes */
.effect[color-number='0']  { color: #000000; }
.effect[color-number='1']  { color: #000000; }
.effect[color-number='2']  { color: #000088; }
.effect[color-number='3']  { color: #008800; }
.effect[color-number='4']  { color: #ff0000; }
.effect[color-number='5']  { color: #880000; }
.effect[color-number='6']  { color: #880088; }
.effect[color-number='7']  { color: #ff8800; }
.effect[color-number='8']  { color: #ffff00; }
.effect[color-number='9']  { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0']  { background-color: #000000; }
.effect[bgcolor-number='1']  { background-color: #000000; }
.effect[bgcolor-number='2']  { background-color: #000088; }
.effect[bgcolor-number='3']  { background-color: #008800; }
.effect[bgcolor-number='4']  { background-color: #ff0000; }
.effect[bgcolor-number='5']  { background-color: #880000; }
.effect[bgcolor-number='6']  { background-color: #880088; }
.effect[bgcolor-number='7']  { background-color: #ff8800; }
.effect[bgcolor-number='8']  { background-color: #ffff00; }
.effect[bgcolor-number='9']  { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }
